@model dotnet_mvc_todo_app.Models.TodoViewModel
@{
    ViewData["Title"] = "Todo";
}


<div>
    <p>Title : @Model.Title</p>
    <p>Status : @if (@Model.IsDone)
        { <span>Done</span> 
        }
        else {
            <span>Not Done</span>
        }
    </p>

    <div >
        <div class="mt-3">
            <a class="btn btn-primary" asp-controller="Todo" asp-action="Update" asp-route-id="@Model.Id" >Update</a>
        </div>

        <form class="mt-3" asp-controller="Todo" asp-action="Delete" asp-route-id="@Model.Id"  method="post">
            <button class="btn btn-primary" type="submit">Delete</button>
        </form>
    </div>
</div>