@model dotnet_mvc_todo_app.Models.TodoViewModel
@{
    ViewData["Title"] = "Todo";
}


<div>
    <p>Title : @Model.Title</p>
    <p>Status : @if (@Model.IsDone)
        { <span>Done</span> 
        }
        else {
            <span>Not Done</span>
        }
    </p>
    <div>
        <a asp-action="Update" asp-controller="Todo" asp-route-id="@Model.Id" >Update</a>
    </div>
</div>